<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:allysa.fontillas@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://www.github.com/Afontillas817"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="CompTIA Data+ Cert" href="https://www.credly.com/badges/cf1c245c-c637-429f-bf52-c9efe1e28cd3/public_url"><i class="icon fa fa-database"></i></a>
        <a aria-label="Udacity Cert" href="https://www.udacity.com/certificate/e/b6756d4c-623b-11ee-94c6-c7fff20cea10"><i class="icon fa fa-certificate"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
